.ion-card {
  box-shadow: none;
  border: 3px solid black;
  background-color: white;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 4%;
  margin-right: 4%;
}
.ion-card-img {
  border-width: 2px;
  border-radius: 10px;
  margin-top: 6%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.ion-item-notification {
padding: -5px;
margin: 0px;
}

.ion-card-notification {
  box-shadow: none;
  border: 3px solid black;
  background-color: white;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}
.ion-card-success {
  box-shadow: none;
  border: 3px solid green;
  background-color: white;
  
  border-radius: 10px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.ion-card-danger {
  box-shadow: none;
  border: 3px solid red;
  background-color: white;
  
  border-radius: 10px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.ion-card-notification-high {
  box-shadow: none;
  border: 3px solid rgb(255, 0, 0);
  background-color: white;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}
.ion-card-notification-med {
  box-shadow: none;
  border: 3px solid orange;
  background-color: white;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}
.ion-card-notification-low {
  box-shadow: none;
  border: 3px solid green;
  background-color: white;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}


.card-no-top {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ion-text-head {
  font-size: x-large;
  font-weight: 700;
}

.ion-text-subhead {
  font-size: large;
  font-weight: 700;
}

.ion-text-topsubhead {
  padding-bottom: 0%;
  margin-bottom: 0%;
  font-size: large;
  font-weight: 700;
}

.ion-text-success {
  color: green;
}
.ion-text-less-danger {
  color: orangered;
}
.ion-text-danger {
  color: red;
}